
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html {
    width: 100%; 
    height: 100vh;
    overflow: scroll;
    font-family: 'Varela Round';
}

body {
    background-color: #6166C8;
  background-image: linear-gradient(to bottom, #6166C8 , #2a4858);
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#website-name {
    display: flex;
    font-size: 4vw;
    color: #F2F2F2;
    margin: 3% 0;
    align-items: center;
    justify-content: center;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 18%;
    padding-top: 25px;
    z-index: 100;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}

#first-line, #second-line {
    font-size: 3.8vw;
    text-transform: capitalize;
    width: fit-content;
    padding: 5px;
    margin: 0;
    color: #EFAD4B;
}

#first-line {
    background-color: #F2F2F2;
    margin-bottom: 5px;
}

#second-line {
    background-color: #3F3D56;
}

#cta-button {
    display: block;
    color: #F2F2F2;
    background-color: #EFAD4B;
    border: 0;
    border-radius: 10px;
    padding: 1vw;
    font-size: 2vw;
    margin-top: 30px;
    text-transform: capitalize;
    width: fit-content;
    cursor: pointer;
}

#image-container {
    width: 25vw;
    display: flex;
    justify-content: center;
}


#homepage-image {
    width: 30vw;
    position: relative;
    right: 10%;
}

@media only screen and (max-width: 991px) {
    #first-line, #second-line {
        font-size: 5vw;
    }

    #wrapper {
        flex-direction: column-reverse;
        align-items: center;
        align-self: center;
    }

    #image-container {
        width: 0;
    }

    #homepage-image {
        width: 50vw;
        margin-bottom: 60px;
    }

    #cta-button { 
        font-size: 4vw;
        padding: 1.5vw;
        margin-top: 50px;
    }

    #title-container {
        align-items: center;
    }

    #website-name {
        font-size: 7vw;
        margin-top: 10%;
        margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    #website-name {
        margin: 5% 0;
    }

    #wrapper {
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 478px) {
    #website-name {
        margin: 10% 0;
        font-size: 12vw;
    }

    #first-line, #second-line {
        font-size: 7vw;
    }

    #wrapper {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    #homepage-image {
        width: 60vw;
        margin-bottom: 20px;
    }

    #cta-button { 
        font-size: 7vw;
        padding: 4vw;
    }
  }