#options-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex: 1;
    font-size: 1.3vw;
}

.option-box {
    color: #413F5C;
    display: flex;
    position: relative;
    background-color: #F2F2F2;
    width: 45%;
    border-radius: 10px;
    height: 6vh;
    cursor: pointer;
    min-height: fit-content;
    margin-bottom: 6vh;
}


.option-number-wrapper {
    display: inline-flex;
    width: 100%;
}

.option-order {
    padding: 10px;
    text-align: center;
    align-self: center;
}

.vertical-line {
  border-left: 1.5px solid #413F5C;
}

.option-text {
    align-self: center;
    flex: 1;
    padding: 0 11.5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#check-icon {
    margin-right: 11.5px;
}

.radio-input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

/*
input:checked {
    border: 3px solid #F2F2F2;
    border-radius: 10px;

    background-color: #EFAD4B;
    opacity: 80%;
}*/

@media only screen and (max-width: 991px) {
    #options-grid {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 478px) {
    #options-grid {
        font-size: 4vw;
        align-content: flex-start;
    }

    .option-box {
        width: 100%;
        height: 10%;
        min-width: fit-content;
        min-height: fit-content;
        margin-bottom: 10vw;
    }
}