* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;

background-image: linear-gradient(to bottom, #6166C8 , #2a4858);
overflow: scroll;

font-family: 'Varela Round';
}

body {
  overflow: scroll;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
}

.App {
  text-align: center;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  #root {
    padding: 15px;
  }
  body {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  #root {
    margin: 0;
  }
  body {
    display: block;
  }
}

@media only screen and (max-width: 478px) {
  body {
    display: block;
  }
}

@media only screen and (max-width: 299px) { 
  #root {
      padding: 0;
  }
}