* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,html {
  width: 100%; 
  height: 100vh;
  overflow: scroll;
  font-family: 'Varela Round';
}

body {
  background-color: #6166C8;
background-image: linear-gradient(to bottom, #6166C8 , #2a4858);
}

#root {
  height: 100%;
  }

.App {
  height: 100%;
  text-align: center;
}
